<h1>All Orders</h1>

Orders By Status<br>

  Ordered: <%= link_to @ordered_orders.count, admin_filtered_orders_path(status: "ordered") %><br>
     Paid: <%= link_to @paid_orders.count, admin_filtered_orders_path(status: "paid")%><br>
Completed: <%= link_to @completed_orders.count, admin_filtered_orders_path(status: "completed") %><br>
Cancelled: <%= link_to @cancelled_orders.count, admin_filtered_orders_path(status: "cancelled") %><br>

<hr>
<div class="orders-list">
  <%= render partial: "orders_list", locals: { orders: @orders } %>
</div>
