<h1>Categories index</h1>
<div class="categories">
  <% @categories.each do |category| %>
    <div id=<%= category.name %>>
      <h3><%= category.name %></h3>
      <ul>
        <% category.items.each do |item| %>
          <div class="item">
            <h2><%= item.title %></h2>
              <div id="image">
                <%= image_tag "#{item.image}" %>
                <%#= image_tag item.image_url.to_s %>
              </div>
              <p><%= item.description %></p>
              <h3><%= "$#{item.price/100}" %></h3>
                <%= link_to "Add to Cart", carts_path(item_id: item.id), :method => :post %> |
                <%= link_to "Remove From Cart", carts_path(item_id: item.id), :method => :delete %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
