<% category.items.each do |item| %>
  <div class="item" id="<%= item.title %>">
    <h3><%= item.title %></h3>
    <h4><%= number_to_currency item.currency %></h4>
    <div id="image">
      <%= image_tag "#{item.image}" %>
    </div>
    <p><%= item.description %></p>
    <%= link_to "Add to Cart", carts_path(item_id: item.id), method: :post %> |
    <%= link_to "Remove From Cart", carts_path(item_id: item.id), method: :delete %>
    <%= link_to "Hide", admin_item_path(item), method: :delete %>
  </div>
<% end %>
