<%= div_for item, class: "panel" do %>
  <h3><%= item.title %></h3>
  <h4><%= number_to_currency item.currency %></h4>
  <div id="image">
    <%= image_tag "#{item.image}" %>
  </div>
  <p><%= item.description %></p>
  <h4>Status: <%= item.status %></h4>
  <h4>Categories:</h4>
  <ul>
    <% item.categories.each do |cat| %>
      <li><%= cat.name %></li>
    <% end %>
  </ul>
  <% if current_user && current_user.admin? %>
    <%= link_to "Edit", edit_admin_item_path(item) %>
  <% end %>
<% end %>
