<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Szalonna gastropub", root_path, :method => :get %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user && current_user.admin? %>
        <li class="active"><%= link_to "Log Out", logout_path, :method => :delete %></li>
      <% elsif current_user %>
        <li class="active"><%= link_to "Log Out", logout_path, :method => :delete %></li>
        <li class="active"><%= link_to "Settings", user_path(current_user.id) %></li>
      <% else %>
        <li class="active"><%= link_to "Log In", login_path %></li>
        <li class="active"><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
      <li id="cart-contents"><%= link_to "Cart: #{@cart.count(@cart.data)}", new_order_path %></li>
      <li class="has-dropdown">
        <a href="#">Order Food Online</a>
        <ul class="dropdown">
          <li><%= link_to "Menu", categories_path, :method => :get %></a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Welcome #{current_user.first_name}", root_path if current_user %></h1>
      </li>
    </ul>
  </section>
</nav>
