<% @order.line_items.each do |line_item| %>
<div id="purchaser-details">
  <% if current_user.admin? %>
    <h3>Purchaser Details</h3>
    <% user = @order.find_user_info(@order.user_id) %>
    <%= user.last_name %>, <%= user.first_name %><br>
    <%= user.email %>
<% end %>
<h3>Order Details</h3>
</div>
<div id="item-title">
  Title: <%=link_to line_item.title, item_path(line_item.item_id) %>
</div>
<div id="item-description">
  Description: <%= line_item.description %>
</div>
<div id="item-price">
  Unit Price: <%= number_to_currency line_item.price %>
</div>
<div id="item-quantity">
  Quantity: <%= line_item.quantity %>
</div>
<div id="item-subtotal">
  Subtotal: <%= number_to_currency line_item.subtotal(line_item.price, line_item.quantity) %>
</div><br>
<% end %>

<div id="item-total">
  Total: <%= number_to_currency @order.total(@order.line_items) %>
</div>
<div id="order-submit-time">
  Order Submitted At: <%= @order.formatted_created_at %>
</div>
<div id="order-status">
  Order Status: <%= @order.status %><br>
  <% if current_user.admin? %>
    <% if @order.status == "ordered" %>
      <%= link_to "change to paid", admin_order_path(status: "paid"), method: :patch %> |
      <%= link_to "change to complete", admin_order_path(status: "completed"), method: :patch %> |
      <%= link_to "change to cancel", admin_order_path(status: "cancelled"), method: :patch %>
    <% elsif @order.status == "paid" %>
      <%= link_to "change to complete", admin_order_path(status: "completed"), method: :patch %> |
      <%= link_to "change to cancel", admin_order_path(status: "cancelled"), method: :patch %>
    <% end %>
  <% end %>
</div>
