<% @order.line_items.each do |line_item| %>
<div id="item-title">
  Title: <%=link_to line_item.title, item_path(line_item.item_id) %>
</div>
<div id="item-description">
  Description: <%= line_item.description %>
</div>
<div id="item-price">
  Unit Price: <%= number_to_currency line_item.price %>
</div>
<div id="item-quantity">
  Quantity: <%= line_item.quantity %>
</div>
<div id="item-subtotal">
  Subtotal: <%= number_to_currency line_item.subtotal(line_item.price, line_item.quantity) %>
</div><br>
<% end %>

<div id="item-total">
  Total: <%= number_to_currency @order.total(@order.line_items) %>
</div>
<div id="order-status">
  Order Status: <%= @order.status %>
  <%= link_to "paid", admin_order_path(status: "paid"), method: :patch %> |
  <%= link_to "complete", admin_order_path(status: "completed"), method: :patch %> |
  <%= link_to "cancel", admin_order_path(status: "cancelled"), method: :patch %>
</div>
<div id="order-submit-time">
  Order submitted at: <%= @order.created_at %>
</div>
