<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "menu" %>
    <div class="row">
      <div class="large-12 columns">

        <%= render "admin_dashboard" if current_user && current_user.admin? %>

        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>

        <%= yield %>

        <%= javascript_include_tag "application" %>
      </div>
    </div>
    <%= render "social_footer" %>
    <%= render "footer" %>
  </body>
</html>
