<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <div class="large-12 columns">
          <%= render "menu" %>
          </div>
        </div>

          <div class="row">

            <div class="large-12 small-12 columns">
              <%= render "admin_dashboard" if current_user && current_user.admin? %>
            </div>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, id: "flash_#{name}" %>
            <% end %>

                  <div class="row">
                    <div class="large-12 columns">
                      <%= yield %>
                    </div>
                  </div>

                  <%= javascript_include_tag "application" %>
                </div>
            <%= render "social_footer" %>
            <%= render "footer" %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
